.subtitle, .subtitle__emphasis {
  font: 1.25rem 'Robot-Regular', sans-serif;
  line-height: 1.8rem;
  text-shadow: var(--text-shadow);
}

.subtitle {
  color: var(--subtitle--color);
  text-align: center;
}

.subtitle__emphasis {
  color: var(--subtitle__emphasis--color);
}
